.example-card {
  max-width: 600px;
  flex-shrink: 0; /* Evita que la tarjeta se encoja en un contenedor flex */
  position: relative; /* Needed for absolute positioning of the button */
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.more-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.example-icon.favorite-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.example-icon.favorite-icon fa-icon {
  line-height: 0;
}
