<mat-toolbar color="primary">
    
  <button matIconButton class="example-icon" aria-label="Abrir menú"
          (click)="toggleMenu.emit()"> 
    <mat-icon>menu</mat-icon>
  </button>

  <span class="app-title">Directorio Monterrey</span>

  <span class="spacer" ></span>

  <app-btn-luna-sol></app-btn-luna-sol>

  <app-share-btn></app-share-btn>

  <button matIconButton class="example-icon favorite-icon" aria-label="Icono de favorito">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Icono de compartir">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>