.example-spacer {
  flex: 1 1 auto;
}

.app-title {
  font-weight: 600;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 400px) {
  .app-title {
    font-size: 1.1rem;
    margin-left: 5px;
  }
}