<mat-toolbar color="primary">

  @if (showBackButton()) {
    <app-btn-back></app-btn-back>
  } @else {
    <button mat-icon-button (click)="layout.toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  }
  <div class="app-title-container" [style.margin-left]="showBackButton() ? '8px' : '0'">
    <span class="app-title">Menú</span>
    <span class="title-separator">/</span>
    <span class="sub-title">Directorio Monterrey</span>
  </div>

  <span class="spacer"></span>

  <app-btn-luna-sol></app-btn-luna-sol>

  <app-share-btn></app-share-btn>

  <button matIconButton class="example-icon favorite-icon" aria-label="Icono de favorito">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>