<!-- Contenedor principal del diálogo con un botón para cerrar -->
<div class="dialog-container">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true" aria-label="Cerrar diálogo">
    <mat-icon>close</mat-icon>
  </button>

  <!-- Usamos mat-card para mantener un estilo consistente -->
  <mat-card class="large-card">
    <!-- La directiva ngSrc optimiza la carga de la imagen -->
    <img mat-card-image [ngSrc]="data.imageUrl" alt="Imagen para {{ data.title }}" width="400" height="300">
    <mat-card-header>
      <mat-card-title>{{ data.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ data.content }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
