<mat-sidenav-container style="color: black;" class="sidenav-container">
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"           
    [opened]="false">         
    
    <mat-toolbar>Menu</mat-toolbar> 
    
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="drawer.close()">HOME</a>
      <a mat-list-item routerLink="/locals" (click)="drawer.close()">LOCALES</a>
      <a mat-list-item routerLink="/contac" (click)="drawer.close()">CONTACTANOS</a>


      
    </mat-nav-list>
  
  </mat-sidenav>

  <mat-sidenav-content>
    
    <app-header (toggleMenu)="drawer.toggle()"></app-header>

    <router-outlet />
    
  </mat-sidenav-content>
</mat-sidenav-container>