/* Puedes agregar estilos globales a este archivo, y también importar otros archivos de estilo */

/* Estilos que ya tienes */
.spacer {
    flex: 1 1 auto;
}

html, body { 
    height: 100%; 
}

/* El problema del contraste se resolvió en SASS, pero aquí defines tu fuente */
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


